<?xml version="1.0" encoding="utf-8"?>
    <packages>
      <package id="lockhunter" /> 
      <package id="SublimeText3" />
      <package id="notepadplusplus" />
      <package id="winmerge" />
      <package id="SourceTree" />
      <package id="keepass" />
      <package id="cyberduck" />
      <package id="nodejs.install" />
      <package id="clipx" />
      <package id="ccleaner" />
      <package id="syncback" />
      <package id="autohotkey" />
      <package id="ConEmu" /> <!-- EthanBrown.ConEmuConfig -->
      <package id="TotalCommander" />
      <package id="dotPeek" />
      <package id="linqpad4" />
      <package id="fiddler4" />
      <package id="7zip.install" />
      <package id="GoogleChrome" />
      <package id="Firefox" />
      <package id="PowerShell" />
      <package id="skype" />
      <package id="poshgit" />
      <package id="f.lux" />
      <package id="sumatrapdf.install" />
      <package id="windowslivewriter" />
      <package id="dopdf" />
      <package id="nugetpackageexplorer" />
      <package id="gitextensions" />
      <package id="treesizefree" />
    </packages>
